:root {
  --main-color:#0f171e;
}

.link {
  color: inherit;
  text-decoration: none;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

.featured {
  height: 86vh;
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    @include mobile {
      top: 110px !important;
    }
  }

  #genre {
    z-index: 2;
  }

  .featuredvideo {
    width: 100%;
    height: 100%;
    object-fit: fill;

    @include mobile {
      object-fit: cover;
    }
  }

  .playbutton {
    color: black;
  }

  .info {
    width: auto;
    position: absolute;
    left: 50px;
    bottom: 60px;
    color: white;
    display: flex;
    flex-direction: column;

    .line {
      display: flex;

      h1 {
        text-transform: uppercase;
        width: 60%;

        @include tablet {
          font-size:22px;
        }
      }

      img {
        width: 59px;
      }
    }

    .desc {
      margin-bottom: 20px;
      margin-top: 10px;
      width: 35%;

      @include tablet {
        width: 60vw !important;
      }
    }
    .myicon {
      border:1px solid #0f171e;
      color: #f2f2f2;
      padding: 5px;
      border-radius: 50%;
      margin-left: 5px;
      background-color:#333333;
      font-size:30px;

      &:hover {
        background-color: #00a8e1;
        border:1px solid #0f171e;
        color: black;
        transition: 0.8s linear ease-in-out;
      }

      @include mobile {
        padding:5px;
        padding: 0px;
        margin-top:5px;
      }
    }
    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        @include mobile{
          padding:5px 10px !important; 
          padding: 0px;
          margin:5px;
          font-size: 14px;
        }

        &.play {
          background-color: white;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: white;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}