:root {
    --main-color: #0b0b0b;
  }
  
  .link {
    color: inherit;
    text-decoration: none;
  }
  
  @mixin tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
  
  @mixin minimobile {
    @media (max-width: 426px) {
      @content;
    }
  }

  .categorycontainer {
    max-width:100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #0f171e;
    padding: 20px;
    padding-top:90px;
  }
  
  .cattitle {
    font-size:40px;
    font-weight: bold;
    text-transform: capitalize;
    padding-left:7%;
    margin-bottom: 20px;
    @include tablet {
        font-size:30px;
        padding-left:3%;
      }
  }
  
  .genress {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    @include mobile {
        justify-content:center;
      }
  }
    
  
  .genre-box {
    padding:50px;
    width: 80%;
    background-color:#00a8e1;
    color:#0f171e;
    border-radius: 15px;
    font-size:30px;
    border: 1px solid #0f171e;
    display: flex;
    justify-content:start;
    align-items: center;
    font-weight: bold !important;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    @include tablet {
        width:150px;
        padding:20px;
        font-size:25px;
      }
  }
  
  .genre-box:hover {
    background-color:#0f171e;
    border: 1px solid #00a8e1;
    color: #00a8e1;
  }