:root {
  --main-color: #00050D;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin minimobile {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

* {
  text-decoration: none;
}

.listcard {
  width: 240px;
  height: 140px;
  margin-right: 20px !important;
  overflow: hidden;
  padding: 0 !important;
  cursor: pointer;
  color: #f2f2f2 !important;

  @include mobile {
    width: 175px !important;
    height: auto !important;
  }

  .model {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #00050D !important;
    padding: 20px;

    @include minimobile {
      width: 300px;
      padding: 10px;
    }

    .listvideo {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
      left: 0;

      @include mobile {
        width: auto;
        height: 100px !important;
      }
    }

    h2 {
      color: #f2f2f2;
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      color: lightgray;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .listposter {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;

    @include mobile {
      width: auto;
      height: 100px !important;
    }
  }

  &:hover {
    img {
      height: 140px;
    }

    .showtitle {
      font-size: 24px;
      color: #f2f2f2;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      font-weight: bold;

      @include mobile {
        font-size: 11px;
      }
    }

    .maintitle {
      width: 75%;
    }

    .itemInfo {
      display: flex;
      background-color: #00050D;
      flex-direction: column;
      padding: 20px !important;
      z-index: 1000 !important;

      .iconsbox {
        display: flex;
        width: 25%;
        justify-content: center;
        height: 100%;
        align-items: center;

        @include mobile {
          width: auto;
          justify-content: right;
        }

        .playicn {
          border: 2px solid white;
          color: #f2f2f2;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          margin-top: 6px;
          font-size: 16px;

          @include mobile {
            padding: 2px;
            margin-top: 3px;
            font-size: 13px;
          }

          &:hover {
            background-color: #00a8e1;
            border: 2px solid black;
            color: black;
            transition: 0.8s linear ease-in-out;
          }
        }

        .myicon {
          border: 2px solid white;
          color: #f2f2f2;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 16px;

          &:hover {
            background-color: #00a8e1;
            border: 2px solid black;
            color: black;
            font-size: 16px !important;
            transition: 0.8s linear ease-in-out;
          }

          @include mobile {
            padding: 0px;
          }
        }
      }

      .itemInfoTop {
        display: flex;
        align-items: center;
        width: 75%;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 14px;
        padding-top: 5px;
        font-weight: 600;
        color: gray;

        @include mobile {
          width: 100% !important;
          font-size: 10px !important;
        }

        .limits {
          background-color: #333333;
          color: #f2f2f2;
          padding: 1px 3px;
          font-size: 15px;
          margin: 0 10px;

          @include mobile {
            font-size: 7px;
            margin: 0px;
          }
        }
      }

      .description {
        font-size: 15px;
        color: gray !important;
        margin-bottom: 10px;
        color: #f2f2f2;

        @include mobile {
          font-size: 10px;
        }
      }

      .genre {
        font-size: 14px;
        color: lightgray;
      }
    }
  }
}