:root {
  --main-color: #0f171e;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin minimobile {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

.loader {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    height: 100vh !important;
  }
}

.loading-spinner {
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #00a8e1 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #00a8e1);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}