:root {
  --main-color: #0b0b0b;
}

.link {
  color: inherit;
  text-decoration: none;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}


.loginbox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#00050D;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0 !important;
  top: 0 !important;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        height: 130px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    p {
      color: #f2f2f2;
      font-size: 28px !important;
      font-weight: bold;
      margin-bottom: 10px;
    }

    #email,
    #password {
      font-size: 15px;
    }

    form {
      width: 325px;
      height: 250px;
      padding:30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include tablet {
        width:85% !important;
      }

      input {
        height: 40px;
        border-radius: 5px;
        margin:6px 0;
        box-shadow: none;
        padding-left: 10px;
        outline-color: transparent;
        border: 1px solid #0b0b0b;

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }

      .loginButton {
        height: 35px;
        border-radius: 10px;
        margin:8px 0;
        background-color:#00a8e1;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }

      .signup {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        margin: 4px 0;
        background-color: gold;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

    }

    .newtoamazon {
      text-align: center;
      color: gray;
      padding-top: 10px;
      padding-bottom: 7px;
      font-size: 12px;

      @include tablet {
        font-size: 9px;
      }
    }

    span {
      margin: 4px 5px;
      color: #f2f2f2;
      list-style-type: none;
      font-size: 11px;
      margin-top: 8px;

      span {
        color: rgb(6, 104, 143);
      }
    }
    .forgotpassword{
      color:rgb(6, 104, 143);
    }
    .createButton {
      padding: 7px;
      background-color:#00a8e1;
      color: black !important;
      width: 250px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 13px;
      border-radius: 10px;
      text-align: center;
      border: none;
      box-shadow: 0 0 3px 0 black;
      margin-top: 5px;

      @include tablet {
        width: 60% !important;
      }
    }
  }
}